.works {
    display: flex;
    column-gap: 20px;
    align-items: center;


    &__image {
        --image-height: 350px;
        --imageScale: 50%;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: end;
        height: var(--image-height);
        box-shadow: 0 0 15px var(--color-accent);
        border-radius: 10px;
        flex: 0 0 416px;
        flex-shrink: 1;
        transition: 0.5s ease-in-out;
        overflow: hidden;

        @include mobile {
            --imageScale: 93%;
        }


        p {
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 25px;
            letter-spacing: 0.05rem;
            width: 286px;
            translate: 0 100px;
            transition: opacity 0.5s ease-in-out, translate 0.5s 0.2s;
            visibility: hidden;
            opacity: 0;
        }

        @include hover {
            flex: 0 0 var(--imageScale);
            height: calc(var(--image-height) * 1.2);
            cursor: pointer;

            p {
                opacity: 1;
                translate: 0 0;
                visibility: visible;
                font-size: 25px;

            }
        }


        &:nth-child(1) {
            background: url(../images/ourWorks/Rectangle45.png) center/cover no-repeat;
        }

        &:nth-child(2) {
            background: url(../images/ourWorks/Rectangle47.png) center/cover no-repeat;
        }

        &:nth-child(3) {
            background: url(../images/ourWorks/Rectangle49.png) center/cover no-repeat;
        }
    }
}