@font-face {
    font-family: 'Reforma Grotesk';
    src: url('../fonts/ReformaGroteskBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Reforma Grotesk';
    src: url('../fonts/ReformaGroteskDemi.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Reforma Grotesk';
    src: url('../fonts/ReformaGroteskMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}